<% @title = "edit plugin" %>
<% @subtitle = "for #{@plugin.name}" %>
<%= error_messages_for :plugin %>
<%- form_for @plugin do |form| %>
  <div class="url_field">
    <%= form.label :uri, "Git URI" %>
    <%= form.text_field :uri %>
  </div>
  <div class="url_field">
    <%= form.label :description, "Description" %>
    <%= form.text_field :description %>
  </div>
    <%= form.submit 'Update', :disable_with => 'Please wait...' %>
<% end %>
