<% content_for :fold do %>
  <div class="count">
    <strong><%= number_with_delimiter(@count) %> plugins</strong>
    cut since january 2010
  </div>
  <div class="blurb">
    <strong><%= link_to 'Gemcutter', 'http://www.gemcutter.org' %> for Heroku Plugins.</strong>
    <br />Find your plugins easier, publish them faster, and have fun doing it.
  </div>
<% end %>

<div class="border">
  <ol class="instructions">
    <li id="ready"><strong>ready</strong><span>heroku plugins:install git://github.com/hone/heroku_herocutter.git</span></li>
    <li id="set"><strong>set</strong><span>there is no set</span></li>
    <li id="go"><strong>go</strong><span>heroku plugins:install colorize_console</span></li>
  </ol>
</div>

<p class="pitch">
  <strong><%= link_to "Herocutter", page_url("about") %></strong> is the Heroku community's plugin hub.
  <strong><%= link_to "Instantly publish", page_url("docs", :anchor => "push") %></strong> your plugins and install them.
  <strong><%= link_to "Become a contributor", "http://github.com/hone/herocutter" %></strong> and enhance the site with your own changes.
</p>
<div class="leaderboards">
  <div class="grid_3" id="new_gems">
    <strong>New Plugins</strong>
    <ol>
      <% @latest.each do |plugin| %>
        <li>
          <%= link_to plugin.name, plugin_path(plugin), :title => plugin.description %>
        </li>
      <% end %>
    </ol>
  </div>
  <div class="grid_3" id="most_downloaded">
    <strong>Most Downloaded</strong>
    <ol>
      <% @downloaded.each do |plugin| %>
        <li>
          <%= link_to "#{plugin.name} (#{plugin.downloads_count})", plugin_path(plugin), :title => plugin.description %>
        </li>
      <% end %>
    </ol>
  </div>
  <div class="grid_3" id="just_updated">
    <strong>Just Updated</strong>
    <ol>
      <% @updated.each do |version| %>
        <li>
          <%= link_to "#{version.plugin.name} (#{version.name})", plugin_path(version.plugin), :title => version.plugin.description %>
        </li>
      <% end %>
    </ol>
  </div>
</div>
